@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-6">
            <img @*class="branding-bar-img"*@ src="/icon/Adsiz.png" align="left" style="width=" 25" height="180" float: leftmargin-lefter:1px; margin-top:2px;margin-bottom:2px;" />
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6                 branding-bar-btn">
            <a href="https://kesfet.subu.edu.tr" target="_blank" style="background: #20A953 0% 0% no-repeat padding-box;color: #FFFFFF; margin-top:auto;border-radius:25px;
                                     padding:14px 25px;font:600 14px/22px Open Sans;display:inline-block;text-align:center;height:55px; width:180px;   margin-left:5%;     text-decoration:none;
                      margin-right:10%;  margin-top:5%;        margin-bottom:20px;

                     ">SUBÜ'YÜ KEŞFET</a>
        </div>

        <div class="col-lg-4 col-md-5 col-sm-6">
            <img @*class="branding-bar-img"*@ src="/icon/Adsiz2.png" style="width=" 20" height="180" float: right; border:1px; margin-top:2px;margin-bottom:2px;" />
        </div>
    </div>






    <div class="row justify-content-center">
        <div class="col-12">
            <div class="section-title text-center mb-4 pb-2">
                <h4 class="title mb-4">Sakarya Uygulamalı Bilimler Üniversitesi Protokoller</h4>
                <p class="text-muted para-desc mx-auto mb-0">
                    Sakaraya Uygulamalı Bilimler Üniversitesi Protokoller kontrol yazılımı.
                </p>
            </div>
        </div><!--end col-->
    </div><!--end row-->
</div>

@section Styles{
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

}